In [146]:
#pip install pyspark

In [147]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('WorldBankAnalysis').getOrCreate()

In [148]:
df = spark.read.csv('/content/drive/MyDrive/WB_Data/IBRD_Statement_Of_Loans_-_Historical_Data_20240320.csv', header=True, inferSchema=True,dateFormat="MM/dd/yyyy hh:mm:ss a")

In [149]:
df.show()

+--------------------+-----------+--------------------+------------+-----------+--------------------+----------------------+---------+---------+---------------+-------------+----------------------+----------+--------------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------+----------------+-------------+----------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
|       End of Period|Loan Number|              Region|Country Code|    Country|            Borrower|Guarantor Country Code|Guarantor|Loan Type|    Loan Status|Interest Rate|Currency of Commitment|Project ID|       Project Name |Original Principal Amount|Cancelled Amount|Undisbursed Amount|Disbursed Amount|Repaid to IBRD|Due to IBRD|Exchange Adjustment|Borrower's Obligation|Sold 3rd Party|Repaid 3rd Party|Due 3rd Party|Loans Held|First Repayment Date|Last Repayment Date|Agreement Signing Date|Board Approval Date|Effective Date (Most Recent)|Closed Date (Most Recent)|Last Disbursement Date|
+--------------------+-----------+--------------------+------------+-----------+--------------------+----------------------+---------+---------+---------------+-------------+----------------------+----------+--------------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------+----------------+-------------+----------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
|05/31/2022 12:00:...|  IBRD00010|EUROPE AND CENTRA...|          FR|     France|     CREDIT NATIONAL|                    FR|   France|      NPL|   Fully Repaid|         4.25|                  NULL|   P037383|      RECONSTRUCTION|                250000000|             0.0|               0.0|           2.5E8|       38000.0|        0.0|                0.0|                    0|     249962000|       249962000|            0|         0|11/01/1952 12:00:...|         1977-05-01|            1947-05-09|         1947-05-09|                  1947-06-09|               1947-12-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00020|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|         4.25|                  NULL|   P037452|      RECONSTRUCTION|             191044211.75|             0.0|               0.0|  1.9104421175E8|1.0337221175E8|        0.0|                0.0|                    0|      87672000|        87672000|            0|         0|04/01/1952 12:00:...|         1972-10-01|            1947-08-07|         1947-08-07|                  1947-09-11|               1948-03-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00021|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|         4.25|                  NULL|   P037452|      RECONSTRUCTION|               3955788.25|             0.0|               0.0|      3955788.25|           0.0|        0.0|                0.0|                    0|    3955788.25|      3955788.25|            0|         0|04/01/1953 12:00:...|         1954-04-01|            1948-05-25|         1947-08-07|                  1948-06-01|               1948-06-30|                  NULL|
|05/31/2022 12:00:...|  IBRD00030|EUROPE AND CENTRA...|          DK|    Denmark|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|         4.25|                  NULL|   P037362|      RECONSTRUCTION|                 40000000|             0.0|               0.0|           4.0E7|      1.7771E7|        0.0|                0.0|                    0|      22229000|        22229000|            0|         0|02/01/1953 12:00:...|         1972-08-01|            1947-08-22|         1947-08-22|                  1947-10-17|               1949-03-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00040|EUROPE AND CENTRA...|          LU| Luxembourg|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|         4.25|                  NULL|   P037451|      RECONSTRUCTION|                 12000000|             0.0|               0.0|   1.176198302E7|    1619983.02|        0.0|               0.01|                 0.01|      10142000|        10142000|            0|         0|07/15/1949 12:00:...|         1972-07-15|            1947-08-28|         1947-08-28|                  1947-10-24|               1949-03-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00050|LATIN AMERICA AND...|          CL|      Chile| Ministry of Finance|                    CL|    Chile|      NPL|   Fully Repaid|          4.5|                  NULL|   P006578|               POWER|                 13500000|             0.0|               0.0|          1.35E7|      1.2167E7|        0.0|                0.0|                    0|       1333000|         1333000|            0|         0|07/01/1953 12:00:...|         1968-07-01|            1948-03-25|         1948-03-25|                  1949-04-07|               1954-12-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00060|LATIN AMERICA AND...|          CL|      Chile| Ministry of Finance|                    CL|    Chile|      NPL|   Fully Repaid|         3.75|                  NULL|   P006577|FOMENTO AGRIC CREDIT|                  2500000|             0.0|               0.0|       2500000.0|      755000.0|        0.0|                0.0|                    0|       1745000|         1745000|            0|         0|07/01/1950 12:00:...|         1955-01-01|            1948-03-25|         1948-03-25|                  1949-04-07|               1950-01-01|                  NULL|
|05/31/2022 12:00:...|  IBRD00070|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|       3.5625|                  NULL|   P037453|          SHIPPING I|                  2000000|             0.0|               0.0|       2000000.0|           0.0|        0.0|                0.0|                    0|       2000000|         2000000|            0|         0|01/15/1949 12:00:...|         1958-07-15|            1948-07-15|         1948-05-21|                  1948-08-03|               1948-08-03|                  NULL|
|05/31/2022 12:00:...|  IBRD00071|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|       3.5625|                  NULL|   P037453|          SHIPPING I|                  2000000|             0.0|               0.0|       2000000.0|           0.0|        0.0|                0.0|                    0|       2000000|         2000000|            0|         0|01/15/1949 12:00:...|         1958-07-15|            1948-07-15|         1948-05-21|                  1948-08-03|               1948-08-03|                  NULL|
|05/31/2022 12:00:...|  IBRD00080|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|       3.5625|                  NULL|   P037454|         SHIPPING II|                  2000000|             0.0|               0.0|       2000000.0|           0.0|        0.0|                0.0|                    0|       2000000|         2000000|            0|         0|01/15/1949 12:00:...|         1958-07-15|            1948-07-15|         1948-05-21|                  1948-08-03|               1948-08-03|                  NULL|
|05/31/2022 12:00:...|  IBRD00090|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|       3.5625|                  NULL|   P037455|        SHIPPING III|                  2000000|             0.0|               0.0|       2000000.0|           0.0|        0.0|                0.0|                    0|       2000000|         2000000|            0|         0|01/15/1949 12:00:...|         1958-07-15|            1948-07-15|         1948-05-21|                  1948-08-03|               1948-08-03|                  NULL|
|05/31/2022 12:00:...|  IBRD00100|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|       3.5625|                  NULL|   P037456|         SHIPPING IV|                  2000000|             0.0|               0.0|       2000000.0|           0.0|        0.0|                0.0|                    0|       2000000|         2000000|            0|         0|01/15/1949 12:00:...|         1958-07-15|            1948-07-15|         1948-05-21|                  1948-08-03|               1948-08-03|                  NULL|
|05/31/2022 12:00:...|  IBRD00101|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|       3.5625|                  NULL|   P037456|         SHIPPING IV|                  2000000|             0.0|               0.0|       2000000.0|           0.0|        0.0|                0.0|                    0|       2000000|         2000000|            0|         0|01/15/1949 12:00:...|         1958-07-15|            1948-07-15|         1948-05-21|                  1948-08-03|               1948-08-03|                  NULL|
|05/31/2022 12:00:...|  IBRD00111|LATIN AMERICA AND...|          BR|     Brazil|Ministério da Faz...|                    BR|   Brazil|      NPL|   Fully Repaid|          4.5|                  NULL|   P006214| POWER AND TELEPHONE|                 75000000|             0.0|               0.0|           7.5E7| 7.097158897E7|        0.0|                0.0|                    0|    4028411.03|      4028411.03|            0|         0|07/01/1953 12:00:...|         1974-01-01|            1949-01-27|         1949-01-27|                  1949-05-09|               1953-12-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00112|LATIN AMERICA AND...|          BR|     Brazil|Ministério da Faz...|                    BR|   Brazil|      NPL|   Fully Repaid|         4.25|                  NULL|   P006214| POWER AND TELEPHONE|                 15000000|             0.0|               0.0|           1.5E7|         1.5E7|        0.0|                0.0|                    0|             0|               0|            0|         0|07/01/1955 12:00:...|         1976-01-01|            1951-01-18|         1951-01-16|                  1951-04-10|               1954-12-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00120|LATIN AMERICA AND...|          MX|     Mexico|Secretaria de Hac...|                    MX|   Mexico|      NPL|   Fully Repaid|          4.5|                  NULL|   P007497|             POWER I|                 24100000|             0.0|               0.0|          2.41E7|     2.01317E7|        0.0|                0.0|                    0|       3968300|         3968300|            0|         0|02/01/1953 12:00:...|         1973-08-01|            1949-01-06|         1949-01-06|                  1949-03-15|               1956-03-31|                  NULL|
|05/31/2022 12:00:...|  IBRD00130|LATIN AMERICA AND...|          MX|     Mexico|Secretaria de Hac...|                    MX|   Mexico|      NPL|Fully Cancelled|          4.5|                  NULL|   P007498|            POWER II|                 10000000|             0.0|               0.0|             0.0|           0.0|        0.0|                0.0|                    0|             0|               0|            0|         0|01/01/1951 12:00:...|         1951-01-01|            1949-01-06|         1949-01-06|                  1949-03-15|               1950-07-01|                  NULL|
|05/31/2022 12:00:...|  IBRD00140|EUROPE AND CENTRA...|          BE|    Belgium|MINISTERE DES FIN...|                    BE|  Belgium|      NPL|   Fully Repaid|         4.25|                  NULL|   P037358|            INDUSTRY|                 16000000|             0.0|               0.0|           1.6E7|           0.0|        0.0|                0.0|                    0|      16000000|        16000000|            0|         0|09/01/1953 12:00:...|         1969-03-01|            1949-03-01|         1949-02-08|                  1949-03-01|               1952-06-01|                  NULL|
|05/31/2022 12:00:...|  IBRD00150|EUROPE AND CENTRA...|          NL|Netherlands|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|          4.0|                  NULL|   P037457| INDUSTRIAL PROJECTS|                 15000000|             0.0|               0.0|      7451984.72|    1025088.71|        0.0|               0.01|                 0.01|    6426896.01|      6426896.01|            0|         0|12/01/1952 12:00:...|         1964-06-01|            1949-07-26|         1949-07-26|                  1949-09-15|               1953-12-01|                  NULL|
|05/31/2022 12:00:...|  IBRD00160|EUROPE AND CENTRA...|          FI|    Finland|                NULL|                  NULL|     NULL|      NPL|   Fully Repaid|          4.0|                  NULL|   P037366|          INDUSTRY I|                 12500000|             0.0|               0.0|          1.25E7|    6747990.11|        0.0|                0.0|                    0|    5752009.89|      5752009.89|            0|         0|02/01/1953 12:00:...|         1964-08-01|            1949-08-01|         1949-07-26|                  1949-09-12|               1953-12-31|                  NULL|
+--------------------+-----------+--------------------+------------+-----------+--------------------+----------------------+---------+---------+---------------+-------------+----------------------+----------+--------------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------+----------------+-------------+----------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
only showing top 20 rows

In [150]:
df.dtypes

[('End of Period', 'string'),
 ('Loan Number', 'string'),
 ('Region', 'string'),
 ('Country Code', 'string'),
 ('Country', 'string'),
 ('Borrower', 'string'),
 ('Guarantor Country Code', 'string'),
 ('Guarantor', 'string'),
 ('Loan Type', 'string'),
 ('Loan Status', 'string'),
 ('Interest Rate', 'double'),
 ('Currency of Commitment', 'int'),
 ('Project ID', 'string'),
 ('Project Name ', 'string'),
 ('Original Principal Amount', 'string'),
 ('Cancelled Amount', 'double'),
 ('Undisbursed Amount', 'double'),
 ('Disbursed Amount', 'double'),
 ('Repaid to IBRD', 'double'),
 ('Due to IBRD', 'double'),
 ('Exchange Adjustment', 'double'),
 ("Borrower's Obligation", 'string'),
 ('Sold 3rd Party', 'string'),
 ('Repaid 3rd Party', 'string'),
 ('Due 3rd Party', 'string'),
 ('Loans Held', 'string'),
 ('First Repayment Date', 'string'),
 ('Last Repayment Date', 'date'),
 ('Agreement Signing Date', 'date'),
 ('Board Approval Date', 'date'),
 ('Effective Date (Most Recent)', 'date'),
 ('Closed Date (Most Recent)', 'date'),
 ('Last Disbursement Date', 'date')]

In [151]:
df.select('Country').distinct().count()

158

In [152]:
df.select('*').count()

1296381

Calculating Total Original Principal Amount disbursed by World Bank to countries

In [153]:
from pyspark.sql.functions import sum, col
total_sum = df.agg(sum('Disbursed Amount').alias('Total Sum')).collect()
total_sum

[Row(Total Sum=84786557845144.34)]

In [154]:
print(f'Total amount lent by World Bank is {total_sum[0]["Total Sum"]/(10 ** 12):.2f} trillion')

Total amount lent by World Bank is 84.79 trillion

In [155]:
total_repaid = df.agg(sum('Repaid to IBRD').alias('repaid_to_IBRD'), sum('Repaid 3rd Party').alias('repaid_to_3rd')).collect()

In [156]:
total_repaid

[Row(repaid_to_IBRD=55312997979464.336, repaid_to_3rd=577125513576.4141)]

In [157]:
total_repaid_sum = total_repaid[0]['repaid_to_IBRD'] + total_repaid[0]['repaid_to_3rd']

In [158]:
print(f'Total amount repaid to World Bank is {total_repaid_sum/(10 ** 12):.2f} trillion')

Total amount repaid to World Bank is 55.89 trillion

In [159]:
from pyspark.sql.functions import col, desc_nulls_last

In [160]:
from os import truncate
df.select('Country', 'Loan Number', 'Borrower', 'Loan Status', 'Interest Rate', 'Project Name ', 'Original Principal Amount', 'Disbursed Amount', 'Repaid to IBRD', 'Repaid 3rd Party', 'Due to IBRD', 'Due 3rd Party' , 'Last Disbursement Date')\
.filter("Country = 'India' AND `Loan Status` = 'Disbursed'")\
.dropDuplicates(['Loan Number'])\
.orderBy(col('Last Disbursement Date').desc_nulls_last())\
.show(truncate = False)

+-------+-----------+----------------------------------------+-----------+-------------+-----------------------------------+-------------------------+----------------+--------------+----------------+-------------+-------------+----------------------+
|Country|Loan Number|Borrower                                |Loan Status|Interest Rate|Project Name                       |Original Principal Amount|Disbursed Amount|Repaid to IBRD|Repaid 3rd Party|Due to IBRD  |Due 3rd Party|Last Disbursement Date|
+-------+-----------+----------------------------------------+-----------+-------------+-----------------------------------+-------------------------+----------------+--------------+----------------+-------------+-------------+----------------------+
|India  |IBRD79230  |SMALL INDUSTRIES DEVELOPMENT BK OF INDIA|Disbursed  |0.0          |IN: Microf-Scaling Up Sustnble & Re|200000000                |2.0E8           |0.0           |0               |2.0E8        |0            |2016-01-25            |
|India  |IBRD48460  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.11         |IN: TN IAM WARM                    |335000000                |2.895650448E8   |5.4555E7      |0               |2.350100448E8|0            |2015-12-31            |
|India  |IBRD47500  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.19         |IN: Madhya Pradesh Water Sector Res|394020000                |3.87402287E8    |1.410456197E8 |0               |2.463566673E8|0            |2015-11-16            |
|India  |IBRD48180  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.11         |IN: Karn Municipal Reform          |216000000                |2.046143688E8   |5.1515E7      |0               |1.530993688E8|0            |2015-08-24            |
|India  |IBRD76130  |India Infrastructure Finance Company Ltd|Disbursed  |0.0          |IN:  IIFCL - India Infras Finance C|1195000000               |1.95E8          |0.0           |0               |1.95E8       |0            |2015-06-29            |
|India  |IBRD48700  |SATLUJ JAL VIDYUT NIGAM LIMITED         |Disbursed  |0.54         |IN: Rampur Hydropower Project      |400000000                |4.0E8           |4.5405E7      |0               |3.54595E8    |0            |2015-04-27            |
|India  |IBRD47490  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.0          |IN: Hydrology II                   |104980000                |9.157878386E7   |3.42474709E7  |0               |5.733131296E7|0            |2014-12-11            |
|India  |IBRD48900  |POWER GRID CORPORATION OF INDIA LIMITED |Disbursed  |0.0          |IN: Power System Development  Proje|600000000                |5.768640111E8   |4.0915E7      |0               |5.359490111E8|0            |2014-12-04            |
|India  |IBRD75930  |POWER GRID CORPORATION OF INDIA LIMITED |Disbursed  |0.0          |IN: Power System Development  Proje|400000000                |4.0E8           |2.229348082E7 |0               |3.777065192E8|0            |2014-11-26            |
|India  |IBRD47960  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.0          |IN: MAHAR WSIP                     |325000000                |2.982781274E8   |7.020549468E7 |0               |2.280726327E8|0            |2014-08-19            |
|India  |IBRD47980  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.0          |IN: TN Urban III                   |300000000                |2.908663036E8   |6.582876175E7 |0               |2.250375419E8|0            |2014-07-30            |
|India  |IBRD76940  |SMALL INDUSTRIES DEVELOPMENT BK OF INDIA|Disbursed  |0.0          |IN: SME Financing & Development    |400000000                |4.0E8           |0.0           |0               |4.0E8        |0            |2013-09-26            |
|India  |IBRD81960  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |0.0          |IN: HP DPL Green Growth            |100000000                |1.0E8           |0.0           |0               |1.0E8        |0            |2012-12-27            |
|India  |IBRD47640  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |0.97         |IN: Lucknow-Muzaffarpur National Hi|620000000                |6.2E8           |1.8169E8      |0               |4.3831E8     |0            |2012-11-26            |
|India  |IBRD46650  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.0          |IN: MUMBAI URBAN TRANSPORT PROJECT |463000000                |3.692683642E8   |1.496366235E8 |0               |2.196317407E8|0            |2012-08-24            |
|India  |IBRD78650  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |0.0          |IN: TN ROADS                       |50700000                 |3.805879759E7   |0.0           |0               |3.805879759E7|0            |2012-08-13            |
|India  |IBRD47060  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |1.0          |IN: TN ROADS                       |348000000                |3.462029252E8   |1.05680808E8  |0               |2.405221172E8|0            |2012-08-08            |
|India  |IBRD47530  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |0.91         |IN: Rural Roads Project            |99500000                 |9.95E7          |2.059E7       |0               |7.891E7      |0            |2012-08-03            |
|India  |IBRD48720  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |0.0          |IN: KARN Tank Mgmt                 |32000000                 |2.229217801E7   |968316.49     |0               |2.132386152E7|0            |2012-06-13            |
|India  |IBRD48620  |CONTROLLER OF AID ACCOUNTS & AUDIT      |Disbursed  |0.0          |IN: Stren India's Rural Credit Coop|300000000                |1.362281092E8   |9361882.92    |0               |1.268662263E8|0            |2012-04-18            |
+-------+-----------+----------------------------------------+-----------+-------------+-----------------------------------+-------------------------+----------------+--------------+----------------+-------------+-------------+----------------------+
only showing top 20 rows

In [161]:
'Country', 'Borrower', 'Loan Status', 'Interest Rate', 'Project Name ', 'Original Principal Amount' '`Disbursed Amount`', '`Repaid to IBRD`', 'Due to IBRD'

('Country',
 'Borrower',
 'Loan Status',
 'Interest Rate',
 'Project Name ',
 'Original Principal Amount`Disbursed Amount`',
 '`Repaid to IBRD`',
 'Due to IBRD')

In [162]:
from pyspark.sql.functions import sum, round
df.groupBy('Country')\
.agg(round((sum('Disbursed Amount')/1e12),2)\
     .alias('Total amount in trillions'))\
.orderBy(col('Total amount in trillions').desc())\
.show()

+--------------------+-------------------------+
|             Country|Total amount in trillions|
+--------------------+-------------------------+
|              Brazil|                     7.86|
|              Mexico|                     7.58|
|           Indonesia|                      6.3|
|               India|                     6.08|
|               China|                     5.96|
|              Turkey|                     4.34|
|           Argentina|                     4.27|
|            Colombia|                     3.43|
|         Philippines|                     2.42|
|  Korea, Republic of|                     2.33|
|             Morocco|                     2.14|
|              Poland|                     2.13|
|Egypt, Arab Repub...|                     1.81|
|             Romania|                     1.73|
|  Russian Federation|                      1.6|
|             Ukraine|                      1.4|
|                Peru|                     1.38|
|            Thailand|                     1.25|
|             Tunisia|                     1.25|
|            Pakistan|                     1.17|
+--------------------+-------------------------+
only showing top 20 rows

In [163]:
df_debt = df.groupBy('Country')\
.agg(round((sum('Disbursed Amount')/1e12),2)\
     .alias('Debt_in_trillions'))

In [164]:
df_debt.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Debt_in_trillions: double (nullable = true)

In [165]:
from pyspark.sql.functions import avg
df.groupBy('Country')\
.agg(avg('Interest Rate').alias('Average Interest Rate'))\
.orderBy(col('Average Interest Rate').desc())\
.show()

+--------------------+---------------------+
|             Country|Average Interest Rate|
+--------------------+---------------------+
|              Repaid|   3734380.6100000017|
|           Disbursed|           3734380.61|
|                Togo|    8.853846153846154|
|             Senegal|    8.146724282129885|
|Syrian Arab Republic|     8.04030701754391|
|               Ghana|    8.027873015873038|
|             Liberia|    7.910518648018673|
|      Western Africa|    7.859285714285693|
|Western and Centr...|    7.855000000000005|
|              Zambia|   7.7431219951923165|
|               Kenya|   7.7261886195994345|
|              Guyana|   7.7133547008546826|
|            Tanzania|     7.45522317188986|
|             Ireland|   7.4245192307692305|
|        Bahamas, The|   7.4032432432431845|
|              Greece|    7.332621028744356|
|            Zimbabwe|    7.263411541824501|
|            Portugal|    7.240875507942425|
|                Oman|    7.200452991452963|
|              Malawi|    7.198192307692342|
+--------------------+---------------------+
only showing top 20 rows

In [166]:
df.filter('Country = "Repaid"').show(5)

+--------------+-----------+-------+------------+-------+--------+----------------------+---------+-------------------+-----------+-------------+----------------------+----------+-------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
| End of Period|Loan Number| Region|Country Code|Country|Borrower|Guarantor Country Code|Guarantor|          Loan Type|Loan Status|Interest Rate|Currency of Commitment|Project ID|Project Name |Original Principal Amount|Cancelled Amount|Undisbursed Amount|Disbursed Amount|Repaid to IBRD|Due to IBRD|Exchange Adjustment|Borrower's Obligation|      Sold 3rd Party|    Repaid 3rd Party|       Due 3rd Party|          Loans Held|First Repayment Date|Last Repayment Date|Agreement Signing Date|Board Approval Date|Effective Date (Most Recent)|Closed Date (Most Recent)|Last Disbursement Date|
+--------------+-----------+-------+------------+-------+--------+----------------------+---------+-------------------+-----------+-------------+----------------------+----------+-------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
|ka banka d.d."|         HR|Croatia|  SNGL CRNCY| Repaid|       0|                  NULL|  P040139|INVESTMENT RECOVERY|    8000000|   3734380.61|                     0|3636810.02|   4947874.26|                        0|             0.0|               0.0|             0.0|           0.0|        0.0|                0.0| 03/15/2003 12:00:...|09/15/2012 12:00:...|12/04/1997 12:00:...|11/18/1997 12:00:...|03/17/1998 12:00:...|12/31/2001 12:00:...|         2001-09-27|                  NULL|               NULL|                        NULL|                     NULL|                  NULL|
|ka banka d.d."|         HR|Croatia|  SNGL CRNCY| Repaid|       0|                  NULL|  P040139|INVESTMENT RECOVERY|    8000000|   3734380.61|                     0|3636810.02|   4947874.26|                        0|             0.0|               0.0|             0.0|           0.0|        0.0|                0.0| 03/15/2003 12:00:...|09/15/2012 12:00:...|12/04/1997 12:00:...|11/18/1997 12:00:...|03/17/1998 12:00:...|12/31/2001 12:00:...|         2001-09-27|                  NULL|               NULL|                        NULL|                     NULL|                  NULL|
|ka banka d.d."|         HR|Croatia|  SNGL CRNCY| Repaid|       0|                  NULL|  P040139|INVESTMENT RECOVERY|    8000000|   3734380.61|                     0|3636810.02|   4947874.26|                        0|             0.0|               0.0|             0.0|           0.0|        0.0|                0.0| 03/15/2003 12:00:...|09/15/2012 12:00:...|12/04/1997 12:00:...|11/18/1997 12:00:...|03/17/1998 12:00:...|12/31/2001 12:00:...|         2001-09-27|                  NULL|               NULL|                        NULL|                     NULL|                  NULL|
|ka banka d.d."|         HR|Croatia|  SNGL CRNCY| Repaid|       0|                  NULL|  P040139|INVESTMENT RECOVERY|    8000000|   3734380.61|                     0|3636810.02|   4947874.26|                        0|             0.0|               0.0|             0.0|           0.0|        0.0|                0.0| 03/15/2003 12:00:...|09/15/2012 12:00:...|12/04/1997 12:00:...|11/18/1997 12:00:...|03/17/1998 12:00:...|12/31/2001 12:00:...|         2001-09-27|                  NULL|               NULL|                        NULL|                     NULL|                  NULL|
|ka banka d.d."|         HR|Croatia|  SNGL CRNCY| Repaid|    0.67|                  NULL|  P040139|INVESTMENT RECOVERY|    8000000|   3734380.61|                     0|3636810.02|   4947874.26|                        0|             0.0|               0.0|             0.0|           0.0|        0.0|                0.0| 03/15/2003 12:00:...|09/15/2012 12:00:...|12/04/1997 12:00:...|11/18/1997 12:00:...|03/17/1998 12:00:...|12/31/2001 12:00:...|         2001-09-27|                  NULL|               NULL|                        NULL|                     NULL|                  NULL|
+--------------+-----------+-------+------------+-------+--------+----------------------+---------+-------------------+-----------+-------------+----------------------+----------+-------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
only showing top 5 rows

In [167]:
df = df.filter((col('Country') != "Repaid") & (col('Country') != "Disbursed"))

In [168]:
df.filter('Country = "Repaid"').show(5)

+-------------+-----------+------+------------+-------+--------+----------------------+---------+---------+-----------+-------------+----------------------+----------+-------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------+----------------+-------------+----------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
|End of Period|Loan Number|Region|Country Code|Country|Borrower|Guarantor Country Code|Guarantor|Loan Type|Loan Status|Interest Rate|Currency of Commitment|Project ID|Project Name |Original Principal Amount|Cancelled Amount|Undisbursed Amount|Disbursed Amount|Repaid to IBRD|Due to IBRD|Exchange Adjustment|Borrower's Obligation|Sold 3rd Party|Repaid 3rd Party|Due 3rd Party|Loans Held|First Repayment Date|Last Repayment Date|Agreement Signing Date|Board Approval Date|Effective Date (Most Recent)|Closed Date (Most Recent)|Last Disbursement Date|
+-------------+-----------+------+------------+-------+--------+----------------------+---------+---------+-----------+-------------+----------------------+----------+-------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------+----------------+-------------+----------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+
+-------------+-----------+------+------------+-------+--------+----------------------+---------+---------+-----------+-------------+----------------------+----------+-------------+-------------------------+----------------+------------------+----------------+--------------+-----------+-------------------+---------------------+--------------+----------------+-------------+----------+--------------------+-------------------+----------------------+-------------------+----------------------------+-------------------------+----------------------+

In [169]:
df.groupBy('Country')\
.agg(round(avg('Interest Rate'),2).alias('Average Interest Rate'))\
.orderBy(col('Average Interest Rate').desc())\
.show()

+--------------------+---------------------+
|             Country|Average Interest Rate|
+--------------------+---------------------+
|                Togo|                 8.85|
|             Senegal|                 8.15|
|Syrian Arab Republic|                 8.04|
|               Ghana|                 8.03|
|             Liberia|                 7.91|
|      Western Africa|                 7.86|
|Western and Centr...|                 7.86|
|              Zambia|                 7.74|
|               Kenya|                 7.73|
|              Guyana|                 7.71|
|            Tanzania|                 7.46|
|             Ireland|                 7.42|
|        Bahamas, The|                  7.4|
|              Greece|                 7.33|
|            Zimbabwe|                 7.26|
|            Portugal|                 7.24|
|                Oman|                  7.2|
|              Malawi|                  7.2|
|              Cyprus|                 7.13|
|        Sierra Leone|                  7.1|
+--------------------+---------------------+
only showing top 20 rows

In [170]:
total_repaid = df.filter('Country = "India"')\
.agg({
    'Repaid to IBRD':'sum',
    'Repaid 3rd Party':'sum'
    })\
.collect()

In [171]:
total_repaid

[Row(sum(Repaid to IBRD)=3798826074929.1987, sum(Repaid 3rd Party)=21002616619.550037)]

In [172]:
total_repaid_sum = total_repaid[0]['sum(Repaid to IBRD)'] + total_repaid[0]['sum(Repaid 3rd Party)']

In [173]:
total_repaid_sum

3819828691548.7485

In [174]:
print(f'Total loan repaid is {total_repaid_sum/(10 ** 12):.2f} trillion USD')

Total loan repaid is 3.82 trillion USD

In [175]:
total_due = df.filter('Country = "India"')\
.agg(
    sum('Due to IBRD').alias('due_to_IBRD'),
    sum('Due 3rd Party').alias('due_3rd_party'))\
.collect()

In [176]:
total_due_sum = total_due[0]['due_to_IBRD'] + total_due[0]['due_3rd_party']

In [177]:
print(f'Total loan amount due is {total_due_sum/(10 ** 12):.2f} trillion USD')

Total loan amount due is 2.26 trillion USD

In [178]:
from pyspark.sql.functions import desc, sum, rank
from pyspark.sql.window import Window
window_spec = Window.partitionBy("Country").orderBy(sum("Disbursed Amount").desc())

In [179]:
df_1 = df.groupBy('Country').agg(
    sum('Disbursed Amount').alias('Disbursed Amount')
    )

In [180]:
df_1.show()

+------------------+--------------------+
|           Country|    Disbursed Amount|
+------------------+--------------------+
|              Chad| 5.828176581239996E9|
|          Paraguay| 2.19359903840371E11|
|           Senegal|2.023023515663971...|
|     Taiwan, China|4.863627259274998...|
|        Cabo Verde| 6.219164082819994E9|
|            Guyana|1.196520893515998...|
|       Philippines|2.418722022453353E12|
|          Malaysia|5.102331510383356...|
|         Singapore|2.815845939434989...|
|              Fiji|3.162642482627992...|
|            Turkey|4.335420830010125...|
|            Malawi|1.640907883333001...|
|              Iraq|3.520561131425398...|
|            Jordan|6.788526293701582E11|
|             Sudan|2.182079405579997...|
|            France|            3.925E10|
|            Greece|5.845748365453957E10|
|            Kosovo|5.591854442784003...|
|Yugoslavia, former| 8.97100158561601E10|
|         Sri Lanka|6.506987738941989E10|
+------------------+--------------------+
only showing top 20 rows

In [181]:
window_spec = Window.orderBy(df_1["Disbursed Amount"].desc())

In [182]:
ranked_df = df_1.select(
    "Country",
    "Disbursed Amount",
    rank().over(window_spec).alias("Loan Rank")
)

In [183]:
ranked_df.show()

+--------------------+--------------------+---------+
|             Country|    Disbursed Amount|Loan Rank|
+--------------------+--------------------+---------+
|              Brazil|7.858129598973741E12|        1|
|              Mexico|7.578693649406748E12|        2|
|           Indonesia|6.296142982180327E12|        3|
|               India|6.076481996997463E12|        4|
|               China| 5.96343202387073E12|        5|
|              Turkey|4.335420830010125...|        6|
|           Argentina| 4.26955781699128E12|        7|
|            Colombia|3.432944677713122E12|        8|
|         Philippines|2.418722022453353E12|        9|
|  Korea, Republic of|2.334320011551867...|       10|
|             Morocco|2.141130484417415E12|       11|
|              Poland|2.125257762680814...|       12|
|Egypt, Arab Repub...|1.812073095382333...|       13|
|             Romania|1.733573920506731E12|       14|
|  Russian Federation|1.604793399069028...|       15|
|             Ukraine|1.400439776806411E12|       16|
|                Peru|1.376040676376754E12|       17|
|            Thailand|1.252198261976440...|       18|
|             Tunisia|1.248525643737415...|       19|
|            Pakistan|1.172249879719952...|       20|
+--------------------+--------------------+---------+
only showing top 20 rows

In [184]:
df.select('Region').distinct().show(truncate=False)

+----------------------------+
|Region                      |
+----------------------------+
|AFRICA WEST                 |
|AFRICA EAST                 |
|LATIN AMERICA AND CARIBBEAN |
|SOUTH ASIA                  |
|EASTERN AND SOUTHERN AFRICA |
|AFRICA                      |
|MIDDLE EAST AND NORTH AFRICA|
|EAST ASIA AND PACIFIC       |
|EUROPE AND CENTRAL ASIA     |
|WESTERN AND CENTRAL AFRICA  |
|Western and Central Africa  |
|Eastern and Southern Africa |
+----------------------------+

In [185]:
from pyspark.sql.functions import countDistinct,round
df.groupBy('Region')\
.agg(countDistinct('Country').alias('Country Count by Region'))\
.orderBy(col('Country Count by Region').desc())\
.show(truncate = False)

+----------------------------+-----------------------+
|Region                      |Country Count by Region|
+----------------------------+-----------------------+
|EUROPE AND CENTRAL ASIA     |48                     |
|AFRICA                      |39                     |
|LATIN AMERICA AND CARIBBEAN |33                     |
|AFRICA EAST                 |22                     |
|EASTERN AND SOUTHERN AFRICA |22                     |
|Eastern and Southern Africa |22                     |
|EAST ASIA AND PACIFIC       |18                     |
|AFRICA WEST                 |15                     |
|Western and Central Africa  |15                     |
|WESTERN AND CENTRAL AFRICA  |15                     |
|MIDDLE EAST AND NORTH AFRICA|12                     |
|SOUTH ASIA                  |4                      |
+----------------------------+-----------------------+

In [186]:
df.select('Region').filter('Country = "India"').distinct().show()

+----------+
|    Region|
+----------+
|SOUTH ASIA|
+----------+

In [187]:
df.groupBy('Region')\
.agg(round((sum('Disbursed Amount')/1e12),2).alias('Loan lent by Region in trillions'))\
.orderBy(col('Loan lent by Region in trillions').desc())\
.show(truncate = False)

+----------------------------+--------------------------------+
|Region                      |Loan lent by Region in trillions|
+----------------------------+--------------------------------+
|LATIN AMERICA AND CARIBBEAN |29.31                           |
|EAST ASIA AND PACIFIC       |19.49                           |
|EUROPE AND CENTRAL ASIA     |17.85                           |
|MIDDLE EAST AND NORTH AFRICA|7.7                             |
|SOUTH ASIA                  |7.32                            |
|AFRICA                      |2.04                            |
|EASTERN AND SOUTHERN AFRICA |0.31                            |
|WESTERN AND CENTRAL AFRICA  |0.27                            |
|AFRICA WEST                 |0.24                            |
|AFRICA EAST                 |0.22                            |
|Western and Central Africa  |0.01                            |
|Eastern and Southern Africa |0.01                            |
+----------------------------+--------------------------------+

Calculate the total number of fully repaid projects for each region

In [188]:
df.filter('`Loan Status` = "Fully Repaid"' )\
.groupBy('Region')\
.count()\
.orderBy(col('count').desc())\
.show(truncate = False)

+----------------------------+------+
|Region                      |count |
+----------------------------+------+
|LATIN AMERICA AND CARIBBEAN |180372|
|EAST ASIA AND PACIFIC       |125724|
|EUROPE AND CENTRAL ASIA     |97421 |
|MIDDLE EAST AND NORTH AFRICA|67796 |
|AFRICA                      |30613 |
|SOUTH ASIA                  |26520 |
|WESTERN AND CENTRAL AFRICA  |7876  |
|AFRICA WEST                 |7490  |
|EASTERN AND SOUTHERN AFRICA |6549  |
|AFRICA EAST                 |6223  |
|Western and Central Africa  |358   |
|Eastern and Southern Africa |297   |
+----------------------------+------+

In [189]:
df.select('Loan Status').distinct().show()

+-------------------+
|        Loan Status|
+-------------------+
|         Disbursing|
|Disbursing&Repaying|
|           Approved|
|    Fully Cancelled|
|          Cancelled|
|             Signed|
|          Effective|
|         Terminated|
|    Fully Disbursed|
|          Disbursed|
|           Repaying|
|  Fully Transferred|
|             Repaid|
|       Fully Repaid|
|         Negotiated|
|              Draft|
|               NULL|
+-------------------+

In [190]:
df_gdp = spark.read.csv('/content/drive/MyDrive/WB_Data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_2.csv', header = True)

In [191]:
df_gdp.show(truncate = False)

+---------------------------+----------------------------+-----------------+
|Data Source                |World Development Indicators|_c2              |
+---------------------------+----------------------------+-----------------+
|Last Updated Date          |2024-02-21                  |NULL             |
|Country Name               |Country Code                |Indicator Name   |
|Aruba                      |ABW                         |GDP (current US$)|
|Africa Eastern and Southern|AFE                         |GDP (current US$)|
|Afghanistan                |AFG                         |GDP (current US$)|
|Africa Western and Central |AFW                         |GDP (current US$)|
|Angola                     |AGO                         |GDP (current US$)|
|Albania                    |ALB                         |GDP (current US$)|
|Andorra                    |AND                         |GDP (current US$)|
|Arab World                 |ARB                         |GDP (current US$)|
|United Arab Emirates       |ARE                         |GDP (current US$)|
|Argentina                  |ARG                         |GDP (current US$)|
|Armenia                    |ARM                         |GDP (current US$)|
|American Samoa             |ASM                         |GDP (current US$)|
|Antigua and Barbuda        |ATG                         |GDP (current US$)|
|Australia                  |AUS                         |GDP (current US$)|
|Austria                    |AUT                         |GDP (current US$)|
|Azerbaijan                 |AZE                         |GDP (current US$)|
|Burundi                    |BDI                         |GDP (current US$)|
|Belgium                    |BEL                         |GDP (current US$)|
+---------------------------+----------------------------+-----------------+
only showing top 20 rows

In [192]:
rdd = spark.sparkContext.textFile('/content/drive/MyDrive/WB_Data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_2.csv')

In [193]:
rdd.take(30)[28]

'"Bahamas, The","BHS","GDP (current US$)","NY.GDP.MKTP.CD","169803921.568627","190098039.215686","212254901.960784","237745098.039216","266666666.666667","300392156.862745","340000000","390196078.431373","444901960.784314","528137254.901961","538423153.692615","573400000","590900000","670900000","632400000","596200000","642100000","713000000","832400000","1139800100","1335300000","1426500000","1578300000","1732800000","2041100000","2320699900","2472500000","2713999900","2817900000","3062000000","3166000000","3111160000","3109000000","3092000000","3259000000","3429000000","3609000000","6332360000","6833220000","7683870000","8076470000","8317830000","8881160000","8870090000","9055290000","9836200000","10167250000","10618340000","10526000000","9981960000","10095760000","10070450000","10720400000","10395500000","10974800000","11672900000","11750800000","12253500000","12653600000","13058700000","9754600000","11527600000","12897400000",'

In [194]:
header = rdd.filter(lambda x: "Country Name" in x).first()

In [195]:
header

'"Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",'

In [196]:
type(header)

str

In [197]:
indexed_rdd = rdd.zipWithIndex()

In [198]:
indexed_rdd.take(5)[4]

('"Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",',
 4)

In [199]:
header_index = indexed_rdd.filter(lambda x: "Country Name" in x[0]).first()[1]

In [200]:
header_index

4

In [201]:
original_rdd_with_index = indexed_rdd.filter(lambda x: x[1]>header_index)

In [202]:
original_rdd_with_index.take(5)

[('"Aruba","ABW","GDP (current US$)","NY.GDP.MKTP.CD","","","","","","","","","","","","","","","","","","","","","","","","","","","405586592.178771","487709497.206704","596648044.692737","695530726.256983","764804469.273743","872067039.106145","958659217.877095","1083240223.46369","1245810055.86592","1320670391.06145","1379888268.15642","1531843575.41899","1665363128.49162","1722905027.93296","1873452513.96648","1896456983.24022","1961843575.41899","2044111731.84358","2254830726.25698","2360017318.43575","2469782681.56425","2677641340.78212","2843024581.00559","2553793296.08939","2453597206.70391","2637859217.87709","2615208379.88827","2727849720.67039","2790849720.67039","2962907262.56983","2983635195.53073","3092429050.27933","3276184357.5419","3395798882.68156","2558906303.88098","3103184101.51354","3544707788.05664",',
  5),
 ('"Africa Eastern and Southern","AFE","GDP (current US$)","NY.GDP.MKTP.CD","18478095142.1781","19366314294.0882","20506467177.8699","22242734491.0409","24294329779.9037","26619560806.5041","28732792825.1557","31592963095.075","34216506003.7724","38498685902.3198","41938907715.5921","45920167032.339","49440744172.338","64933825429.4261","79888146173.0089","84955085378.787","85050300129.2175","94566922081.6133","105623414443.521","125656371097.882","166475050971.984","173673510912.351","164114068718.601","175108664048.273","162752141155.351","135795509169.566","153368683414.31","186594742538.673","205635932770.809","218577418670.295","254673510115.591","275622021261.09","240210577721.912","238353057845.691","241158029890.41","270813961389.262","268992901985.369","284065411886.655","267286689939.3","263674195227.713","285403765401.254","260218617002.669","267142068310.105","354907412306.554","441359590323.394","514927086452.789","578633287253.354","664099392606.403","711800460143.432","723512528253.909","867040920627.224","971667511047.106","979996860991.405","986342932619.106","1006992481353.94","932513471557.123","890051427265.996","1028394291260.59","1012521425296.35","1006191000190.48","928880235176.594","1086530704900.5","1185137703650.99",',
  6),
 ('"Afghanistan","AFG","GDP (current US$)","NY.GDP.MKTP.CD","537777811.111111","548888895.555556","546666677.777778","751111191.111111","800000044.444444","1006666637.77778","1399999966.66667","1673333417.77778","1373333366.66667","1408888922.22222","1748886595.55556","1831108971.11111","1595555475.55556","1733333264.44444","2155555497.77778","2366666615.55556","2555555566.66667","2953333417.77778","3300000108.88889","3697940409.61098","3641723321.99546","3478787909.09091","","","","","","","","","","","","","","","","","","","","","3825701405.51958","4520946849.32079","5224896718.67782","6203256497.09044","6971758332.88917","9747886104.53251","10109296957.6569","12416152648.0573","15856668496.388","17805098367.2952","19907329905.9776","20146416876.3886","20497128600.3363","19134221744.5294","18116572399.1298","18753456506.5708","18053222734.8881","18799444414.5998","19955929060.841","14266499429.8746","",',
  7),
 ('"Africa Western and Central","AFW","GDP (current US$)","NY.GDP.MKTP.CD","10411646287.3058","11135924727.9409","11951712282.0428","12685805889.8937","13848998668.6184","14874755833.5382","15845575303.2224","14428492961.8549","14880501861.1181","16882284662.3657","23504960311.9234","20843326170.6302","25269456358.5288","31841146881.8575","44215328355.8688","51445309626.4799","62129985410.0664","65316034540.7121","71200526845.3747","88629333635.7157","112032331232.328","211005911802.917","187165406370.026","138116898441.305","114263904328.182","116508527443.662","107507001440.375","110281682790.499","108944735237.174","101770140749.657","121803568895.987","127939039832.689","122575953686.486","127980941949.696","133143476720.137","205687093879.591","261262106172.312","274376968923.496","294949797405.741","137292485423.693","140132777859.081","147524718751.249","176588559103.843","204455023741.489","253453654650.339","310070743908.926","396077046021.055","465627259599.126","567853448132.047","508492534468.294","598607469639.526","682176065823.115","737739503299.735","834097010134.991","894505003403.491","769263195356.949","692114931613.254","685630289666.515","768158194632.397","823405580187.913","786962436538.391","844927536437.833","875393693658.084",',
  8),
 ('"Angola","AGO","GDP (current US$)","NY.GDP.MKTP.CD","","","","","","","","","","","","","","","","","","","","","5934073603.67893","5553824463.8796","5553824463.8796","5787823808.69565","6135166254.1806","7558613008.02675","7076793822.74247","8089279284.61538","8775116269.23077","10207922517.0569","11236275842.8094","10401188707.2808","8307826847.39834","6084688935.80032","4438321017.39068","5538749259.94714","6535434716.00224","7675412600.66513","6506381416.53236","6152922942.24539","9129594815.57661","8936079251.42093","15285592486.2532","17812704627.0282","23552057820.4599","36970901023.7893","52381025102.321","65266415706.9741","88538664884.265","70307196474.1272","83799473759.7201","111789747670.59","128052915202.989","132339108708.408","135966802156.542","90496420626.179","52761617225.9253","73690155046.555","79450688232.0011","70897962712.6213","48501561230.001","66505129989.243","106782770714.619",',
  9)]

In [203]:
original_rdd = original_rdd_with_index.map(lambda x: x[0])

In [204]:
(original_rdd.take(3)[0])

'"Aruba","ABW","GDP (current US$)","NY.GDP.MKTP.CD","","","","","","","","","","","","","","","","","","","","","","","","","","","405586592.178771","487709497.206704","596648044.692737","695530726.256983","764804469.273743","872067039.106145","958659217.877095","1083240223.46369","1245810055.86592","1320670391.06145","1379888268.15642","1531843575.41899","1665363128.49162","1722905027.93296","1873452513.96648","1896456983.24022","1961843575.41899","2044111731.84358","2254830726.25698","2360017318.43575","2469782681.56425","2677641340.78212","2843024581.00559","2553793296.08939","2453597206.70391","2637859217.87709","2615208379.88827","2727849720.67039","2790849720.67039","2962907262.56983","2983635195.53073","3092429050.27933","3276184357.5419","3395798882.68156","2558906303.88098","3103184101.51354","3544707788.05664",'

In [205]:
column_names = header.split(',')

In [206]:
column_names = [column.strip('"') for column in column_names]

In [207]:
import re

def regex_csv_line_split(line):
    pattern = re.compile(r'"((?:[^"\\]|\\.)*)"|([^,]+)')
    matches = pattern.findall(line)
    x= ["".join(match).strip() for match in matches]
    print(x)
    return x

In [208]:
original_rdd = original_rdd.map(regex_csv_line_split)

In [209]:
len(original_rdd.take(30)[0])

67

In [210]:
len(column_names)

68

In [211]:
column_names = column_names[:-1]

In [212]:
len(column_names)

67

In [213]:
len(original_rdd.take(1)[0])

67

In [214]:
rdd_row_length = 67


check_length = original_rdd.filter(lambda x: len(x)!=rdd_row_length)

In [215]:
check_length.take(5)

[]

In [216]:
df_gdp = original_rdd.toDF(column_names)

In [217]:
df_gdp.show(5)

+--------------------+------------+-----------------+--------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
|        Country Name|Country Code|   Indicator Name|Indicator Code|            1960|            1961|            1962|            1963|            1964|            1965|            1966|            1967|            1968|            1969|            1970|            1971|            1972|            1973|            1974|            1975|            1976|            1977|            1978|            1979|            1980|            1981|            1982|            1983|            1984|            1985|            1986|            1987|            1988|            1989|            1990|            1991|            1992|            1993|            1994|            1995|            1996|            1997|            1998|            1999|            2000|            2001|            2002|            2003|            2004|            2005|            2006|            2007|            2008|            2009|            2010|            2011|            2012|            2013|            2014|            2015|            2016|            2017|            2018|            2019|            2020|            2021|            2022|
+--------------------+------------+-----------------+--------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
|               Aruba|         ABW|GDP (current US$)|NY.GDP.MKTP.CD|                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |405586592.178771|487709497.206704|596648044.692737|695530726.256983|764804469.273743|872067039.106145|958659217.877095|1083240223.46369|1245810055.86592|1320670391.06145|1379888268.15642|1531843575.41899|1665363128.49162|1722905027.93296|1873452513.96648|1896456983.24022|1961843575.41899|2044111731.84358|2254830726.25698|2360017318.43575|2469782681.56425|2677641340.78212|2843024581.00559|2553793296.08939|2453597206.70391|2637859217.87709|2615208379.88827|2727849720.67039|2790849720.67039|2962907262.56983|2983635195.53073|3092429050.27933| 3276184357.5419|3395798882.68156|2558906303.88098|3103184101.51354|3544707788.05664|
|Africa Eastern an...|         AFE|GDP (current US$)|NY.GDP.MKTP.CD|18478095142.1781|19366314294.0882|20506467177.8699|22242734491.0409|24294329779.9037|26619560806.5041|28732792825.1557| 31592963095.075|34216506003.7724|38498685902.3198|41938907715.5921| 45920167032.339| 49440744172.338|64933825429.4261|79888146173.0089| 84955085378.787|85050300129.2175|94566922081.6133|105623414443.521|125656371097.882|166475050971.984|173673510912.351|164114068718.601|175108664048.273|162752141155.351|135795509169.566| 153368683414.31|186594742538.673|205635932770.809|218577418670.295|254673510115.591| 275622021261.09|240210577721.912|238353057845.691| 241158029890.41|270813961389.262|268992901985.369|284065411886.655|  267286689939.3|263674195227.713|285403765401.254|260218617002.669|267142068310.105|354907412306.554|441359590323.394|514927086452.789|578633287253.354|664099392606.403|711800460143.432|723512528253.909|867040920627.224|971667511047.106|979996860991.405|986342932619.106|1006992481353.94|932513471557.123|890051427265.996|1028394291260.59|1012521425296.35|1006191000190.48|928880235176.594| 1086530704900.5|1185137703650.99|
|         Afghanistan|         AFG|GDP (current US$)|NY.GDP.MKTP.CD|537777811.111111|548888895.555556|546666677.777778|751111191.111111|800000044.444444|1006666637.77778|1399999966.66667|1673333417.77778|1373333366.66667|1408888922.22222|1748886595.55556|1831108971.11111|1595555475.55556|1733333264.44444|2155555497.77778|2366666615.55556|2555555566.66667|2953333417.77778|3300000108.88889|3697940409.61098|3641723321.99546|3478787909.09091|                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |3825701405.51958|4520946849.32079|5224896718.67782|6203256497.09044|6971758332.88917|9747886104.53251|10109296957.6569|12416152648.0573| 15856668496.388|17805098367.2952|19907329905.9776|20146416876.3886|20497128600.3363|19134221744.5294|18116572399.1298|18753456506.5708|18053222734.8881|18799444414.5998| 19955929060.841|14266499429.8746|                |
|Africa Western an...|         AFW|GDP (current US$)|NY.GDP.MKTP.CD|10411646287.3058|11135924727.9409|11951712282.0428|12685805889.8937|13848998668.6184|14874755833.5382|15845575303.2224|14428492961.8549|14880501861.1181|16882284662.3657|23504960311.9234|20843326170.6302|25269456358.5288|31841146881.8575|44215328355.8688|51445309626.4799|62129985410.0664|65316034540.7121|71200526845.3747|88629333635.7157|112032331232.328|211005911802.917|187165406370.026|138116898441.305|114263904328.182|116508527443.662|107507001440.375|110281682790.499|108944735237.174|101770140749.657|121803568895.987|127939039832.689|122575953686.486|127980941949.696|133143476720.137|205687093879.591|261262106172.312|274376968923.496|294949797405.741|137292485423.693|140132777859.081|147524718751.249|176588559103.843|204455023741.489|253453654650.339|310070743908.926|396077046021.055|465627259599.126|567853448132.047|508492534468.294|598607469639.526|682176065823.115|737739503299.735|834097010134.991|894505003403.491|769263195356.949|692114931613.254|685630289666.515|768158194632.397|823405580187.913|786962436538.391|844927536437.833|875393693658.084|
|              Angola|         AGO|GDP (current US$)|NY.GDP.MKTP.CD|                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |                |5934073603.67893| 5553824463.8796| 5553824463.8796|5787823808.69565| 6135166254.1806|7558613008.02675|7076793822.74247|8089279284.61538|8775116269.23077|10207922517.0569|11236275842.8094|10401188707.2808|8307826847.39834|6084688935.80032|4438321017.39068|5538749259.94714|6535434716.00224|7675412600.66513|6506381416.53236|6152922942.24539|9129594815.57661|8936079251.42093|15285592486.2532|17812704627.0282|23552057820.4599|36970901023.7893| 52381025102.321|65266415706.9741| 88538664884.265|70307196474.1272|83799473759.7201| 111789747670.59|128052915202.989|132339108708.408|135966802156.542| 90496420626.179|52761617225.9253| 73690155046.555|79450688232.0011|70897962712.6213| 48501561230.001| 66505129989.243|106782770714.619|
+--------------------+------------+-----------------+--------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
only showing top 5 rows

In [218]:
df_gdp.select('Country Name').distinct().count()

266

In [219]:
drop_columns = column_names[3:55]

In [220]:
df_gdp = df_gdp.drop(*drop_columns)

In [221]:
df_gdp.show(truncate = False, n = 4)

+---------------------------+------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
|Country Name               |Country Code|Indicator Name   |2011            |2012            |2013            |2014            |2015            |2016            |2017            |2018            |2019            |2020            |2021            |2022            |
+---------------------------+------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
|Aruba                      |ABW         |GDP (current US$)|2637859217.87709|2615208379.88827|2727849720.67039|2790849720.67039|2962907262.56983|2983635195.53073|3092429050.27933|3276184357.5419 |3395798882.68156|2558906303.88098|3103184101.51354|3544707788.05664|
|Africa Eastern and Southern|AFE         |GDP (current US$)|971667511047.106|979996860991.405|986342932619.106|1006992481353.94|932513471557.123|890051427265.996|1028394291260.59|1012521425296.35|1006191000190.48|928880235176.594|1086530704900.5 |1185137703650.99|
|Afghanistan                |AFG         |GDP (current US$)|17805098367.2952|19907329905.9776|20146416876.3886|20497128600.3363|19134221744.5294|18116572399.1298|18753456506.5708|18053222734.8881|18799444414.5998|19955929060.841 |14266499429.8746|                |
|Africa Western and Central |AFW         |GDP (current US$)|682176065823.115|737739503299.735|834097010134.991|894505003403.491|769263195356.949|692114931613.254|685630289666.515|768158194632.397|823405580187.913|786962436538.391|844927536437.833|875393693658.084|
+---------------------------+------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
only showing top 4 rows

In [222]:
df_gdp.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)
 |-- 2019: string (nullable = true)
 |-- 2020: string (nullable = true)
 |-- 2021: string (nullable = true)
 |-- 2022: string (nullable = true)

In [223]:
df_gdp = df_gdp.drop("")

In [224]:
df_gdp.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)
 |-- 2019: string (nullable = true)
 |-- 2020: string (nullable = true)
 |-- 2021: string (nullable = true)
 |-- 2022: string (nullable = true)

In [225]:
df_gdp.show(1)

+------------+------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+---------------+----------------+----------------+----------------+----------------+
|Country Name|Country Code|   Indicator Name|            2011|            2012|            2013|            2014|            2015|            2016|            2017|           2018|            2019|            2020|            2021|            2022|
+------------+------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+---------------+----------------+----------------+----------------+----------------+
|       Aruba|         ABW|GDP (current US$)|2637859217.87709|2615208379.88827|2727849720.67039|2790849720.67039|2962907262.56983|2983635195.53073|3092429050.27933|3276184357.5419|3395798882.68156|2558906303.88098|3103184101.51354|3544707788.05664|
+------------+------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+---------------+----------------+----------------+----------------+----------------+
only showing top 1 row

In [226]:
df_gdp.select('Country Name').distinct().count()

266

In [227]:
df_gdp = df_gdp.withColumn('2022', col('2022').cast('double'))

In [228]:
df_gdp.select('Country Name', col('2022'))\
.orderBy(col('2022').desc())\
.show(truncate= False, n=5)

+-------------------------+-------------------+
|Country Name             |2022               |
+-------------------------+-------------------+
|World                    |1.00879560825388E14|
|High income              |6.17295121237778E13|
|OECD members             |5.98498783817075E13|
|Post-demographic dividend|5.62115846996494E13|
|IDA & IBRD total         |4.05739621636075E13|
+-------------------------+-------------------+
only showing top 5 rows

In [229]:

#list of non-country names
non_countries = ["World", "High income", "OECD members", "Post-demographic dividend", "IDA & IBRD total",
                 "Low & middle income", "Middle income", "IBRD only", "East Asia & Pacific",
                 "Upper middle income", "Late-demographic dividend", "North America",
                 "Europe & Central Asia", "East Asia & Pacific (excluding high income)",
                 "East Asia & Pacific (IDA & IBRD countries)", "European Union",
                 "Early-demographic dividend", "Euro area", "Lower middle income", "Latin America & Caribbean", "Latin America & the Caribbean (IDA & IBRD countries)",
                 "Latin America & Caribbean (excluding high income)", "Europe & Central Asia (IDA & IBRD countries)", "Middle East & North Africa",
                 "South Asia", "South Asia (IDA & IBRD)", "Europe & Central Asia (excluding high income)", "IDA total", "Sub-Saharan Africa", "Arab World",
                 "Sub-Saharan Africa (IDA & IBRD countries)", "Sub-Saharan Africa (excluding high income)", "Fragile and conflict affected situations",
                 "Middle East & North Africa (excluding high income)", "Middle East & North Africa (IDA & IBRD countries)", "Central Europe and the Baltics",
                 "IDA only", "Pre-demographic dividend", "Least developed countries: UN classification", "Africa Eastern and Southern",
                 "Heavily indebted poor countries (HIPC)"]


df_gdp = df_gdp.filter(~(col('Country Name').isin(non_countries)))

df_gdp.select('Country Name', round((col('2022')/1e12), 2).alias("GDP in trillions USD")).orderBy(col('2022').desc()).show(truncate= False)

+------------------+--------------------+
|Country Name      |GDP in trillions USD|
+------------------+--------------------+
|United States     |25.44               |
|China             |17.96               |
|Japan             |4.26                |
|Germany           |4.08                |
|India             |3.42                |
|United Kingdom    |3.09                |
|France            |2.78                |
|Russian Federation|2.24                |
|Canada            |2.16                |
|Italy             |2.05                |
|Brazil            |1.92                |
|Australia         |1.69                |
|Korea, Rep.       |1.67                |
|Mexico            |1.47                |
|Spain             |1.42                |
|Indonesia         |1.32                |
|IDA blend         |1.18                |
|Saudi Arabia      |1.11                |
|Netherlands       |1.01                |
|Turkiye           |0.91                |
+------------------+--------------------+
only showing top 20 rows

In [230]:
df_gdp_current = df_gdp.select(col('Country Name').alias('Country_Name'), round((col('2022')/1e12), 2).alias("current_gdp"))

In [231]:
df_gdp_current.printSchema()

root
 |-- Country_Name: string (nullable = true)
 |-- current_gdp: double (nullable = true)

In [232]:
df_debt_gdp = df_debt.join(df_gdp_current, df_debt['Country']==df_gdp_current['Country_Name'])

In [233]:
df_debt_gdp.orderBy(col('current_gdp').desc()).show()

+------------------+-----------------+------------------+-----------+
|           Country|Debt_in_trillions|      Country_Name|current_gdp|
+------------------+-----------------+------------------+-----------+
|             China|             5.96|             China|      17.96|
|             Japan|             0.13|             Japan|       4.26|
|             India|             6.08|             India|       3.42|
|            France|             0.04|            France|       2.78|
|Russian Federation|              1.6|Russian Federation|       2.24|
|             Italy|             0.06|             Italy|       2.05|
|            Brazil|             7.86|            Brazil|       1.92|
|         Australia|             0.07|         Australia|       1.69|
|            Mexico|             7.58|            Mexico|       1.47|
|             Spain|             0.07|             Spain|       1.42|
|         Indonesia|              6.3|         Indonesia|       1.32|
|       Netherlands|             0.04|       Netherlands|       1.01|
|           Turkiye|             0.82|           Turkiye|       0.91|
|            Poland|             2.13|            Poland|       0.69|
|         Argentina|             4.27|         Argentina|       0.63|
|            Norway|             0.02|            Norway|       0.59|
|           Belgium|             0.01|           Belgium|       0.58|
|           Ireland|             0.02|           Ireland|       0.53|
|            Israel|             0.04|            Israel|       0.53|
|          Thailand|             1.25|          Thailand|        0.5|
+------------------+-----------------+------------------+-----------+
only showing top 20 rows